*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62, 5%;
  --ball-color: orange;
  --shadow-color: grey;
  --ball-width: 200px;
  --ball-height: 200px;
  --shadow-height: 10px;
  --shadow-width: 230px;
  --top-position: translate(0%, 10%);
  --bottom-position: translate(0%, 74%);
}
#home {
  display: block;
  overflow: auto;
}

.container {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ball-container {
  height: 100vh;
  top: 9%;
  left: 50%;
  animation: bounce 3s infinite;
}

.ball {
  background-color: var(--ball-color);
  border-radius: 50%;
  width: var(--ball-width);
  height: var(--ball-height);

  animation: squeeze 3s infinite ease;
}

.shadow {
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;
  opacity: 0;
  border-radius: 50%;
  background-color: var(--shadow-color);
  width: var(--shadow-width);
  height: var(--shadow-height);
  animation: shadow 3s infinite ease;
}

@keyframes bounce {
  0% {
    transform: var(--top-position);
  }
  50% {
    transform: var(--bottom-position);
  }
  100% {
    transform: var(--top-position);
  }
}

@keyframes shadow {
  0% {
    transform: scale(0, 0);
  }

  50% {
    transform: scale(1.1, 0.7);
    opacity: 1;
  }

  100% {
    transform: scale(0, 0);
  }
}

@keyframes squeeze {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.8, 1.1);
  }
  38% {
    transform: scale(0.8, 1.1);
  }

  50% {
    transform: scale(1.3, 0.8);
  }

  62% {
    transform: scale(0.8, 1.1);
  }

  75% {
    transform: scale(0.8, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}
